.idea/Garages.dtd

<!ELEMENT GARAGES (GARAGE+)>
<!ELEMENT GARAGE  	(GARAGE_NAAM, GARAGE_STRAAT, GARAGE_STRAATNR, GARAGE_POSTCODE, GARAGE_PROVINCIE, GARAGE_EMAIL, GARAGE_WEBSITE?,
					GARAGE_OMSCHRIJVING?, GARAGE_FOTOS?, GARAGE_BOVAG, GARAGE_AUTOLENEN, GARAGE_AUTOHUREN, GARAGE_RDWERKEND, MEDEWERKERS, DEALER, WERKPLAATS, VERKOOP
					TWEEDE_HANDSAUTOS?, FACILITEITEN)>
		
<!ELEMENT GARAGE_NAAM			(#PCDATA)>
<!ELEMENT GARAGE_STRAAT			(#PCDATA)>
<!ELEMENT GARAGE_STRAATNR		(#PCDATA)>
<!ELEMENT GARAGE_POSTCODE		(#PCDATA)>
<!ELEMENT GARAGE_PROVINCIE		(#PCDATA)>
<!ELEMENT GARAGE_EMAIL			(#PCDATA)>
<!ELEMENT GARAGE_WEBSITE		(#PCDATA)>
<!ELEMENT GARAGE_OMSCHRIJVING 	(#PCDATA)>
<!ELEMENT GARAGE_FOTOS			(GARAGE_FOTO+)>

<!ELEMENT GARAGE_BOVAG          (#PCDATA)>
<!ATTLIST GARAGE_BOVAG KEUZE (JA|NEE) "NEE">

<!ELEMENT GARAGE_AUTOLENEN      (#PCDATA)>
<!ATTLIST GARAGE_AUTOLENEN LENEN (JA|NEE) "NEE">

<!ELEMENT GARAGE_AUTOHUREN      (#PCDATA)>
<!ATTLIST GARAGE_AUTOHUREN HUREN (JA|NEE) "NEE">

<!ELEMENT GARAGE_RDWERKEND      (#PCDATA)>
<!ATTLIST GARAGE_RDWERKEND ERKEND (JA|NEE) "NEE">

<!ELEMENT DEALER                (MERK*)>
<!ATTLIST DEALER VERKOOP (JA|NEE)>
<!ELEMENT MERK                  (#PCDATA)>

<!ELEMENT MEDEWERKERS           (MEDEWERKER+)>
<!ELEMENT MEDEWERKER            (MEDEWERKER_NAAM, MEDEWERKER_FOTO, MEDEWERKER_FUNCTIE)>
<!ELEMENT MEDEWERKER_NAAM       (#PCDATA)>
<!ELEMENT MEDEWERKER_FOTO       (#PCDATA)>
<!ELEMENT MEDEWERKER_FUNCTIE    (#PCDATA)>

<!ELEMENT WERKPLAATSEN          (WERKPLAATS+)>
<!ELEMENT WERKPLAATS            (WERKP_OPENINGSTIJDEN, WERKP_ONDERHOUD, WERKP_APK, WERKP_SCHADEHERSTEL, WERKP_RUITENREPARATIE, WERKP_AIRCOSERVICE, WERKP_BANDENSERVICE)>
<!ELEMENT WERKP_ONDERHOUD       (#PCDATA)>
<!ELEMENT WERKP_APK             (#PCDATA)>
<!ELEMENT WERKP_SCHADEHERSTEL   (#PCDATA)>
<!ELEMENT WERKP_RUITENREPARATIE (#PCDATA)>
<!ELEMENT WERKP_AIRCOSERVICE    (#PCDATA)>
<!ELEMENT WERKP_BANDENSERVICE   (#PCDATA)>
<!ELEMENT WERKP_OPENINGSTIJDEN  (#PCDATA)>
<!ATTLIST WERKP_OPENINGSTIJDEN
                                TIJD CDATA "HH:MM">

<!ELEMENT VERKOOP               (VERK_OPENINGSTIJDEN)>
<!ATTLIST VERK_OPENINGSTIJDEN
                                TIJD CDATA "HH:MM">

<!ELEMENT TWEEDE_HANDSAUTOS     (AUTO*)>
<!ELEMENT AUTO                  (OCCASION_KENTEKEN, OCCASION_MERK, OCCASION_TYPE, OCCASION_BOUWJAAR, OCCASION_BRANDSTOF, OCCASION_PRIJS, OCCASION_FOTOS)>
<!ELEMENT OCCASION_KENTEKEN     (#PCDATA)>
<!ELEMENT OCCASION_MERK         (#PCDATA)>
<!ELEMENT OCCASION_TYPE         (#PCDATA)>
<!ELEMENT OCCASION_BOUWJAAR     (#PCDATA)>
<!ELEMENT OCCASION_BRANDSTOF    (#PCDATA)>
<!ATTLIST OCCASION_BRANDSTOF TYPE (BENZINE|DIESEL|LPG)>
<!ELEMENT OCCASION_PRIJS        (#PCDATA)>
<!ATTLIST OCCASION_PRIJS
                                VALUTA CDATA "EURO">
<!ELEMENT OCCASION_FOTOS        (#PCDATA)>
<!ATTLIST OCCASION_FOTOS        (O_FOTOS+)>

<!ELEMENT FACILITEITEN          (POMP+, AUTOWAS?, GARAGE_WINKEL?)>
<!ELEMENT POMP                  (#PCDATA)>
<!ATTLIST POMP TYPE (BENZINE|DIESEL|LPG)>
<!ELEMENT AUTOWAS               (#PCDATA)>
<!ATTLIST AUTOWAS TYPE (BOX|WASSTRAAT)>
<!ELEMENT GARAGEWINKEL          (#PCDATA)>
