.idea/Garages.dtd

<!ELEMENT GARAGES (GARAGE+)>
<!ELEMENT GARAGE  	(GARAGE_NAAM, GARAGE_STRAAT, GARAGE_STRAATNR, GARAGE_POSTCODE, GARAGE_PROVINCIE, GARAGE_EMAIL, GARAGE_WEBSITE,
					GARAGE_OMSCHRIJVING, GARAGE_FOTOS, GARAGE_BOVAG, GARAGE_AUTOLENEN, MEDEWERKERS, DEALER, WERKPLAATS, VERKOOP
					TWEEDE_HANDSAUTOS, FACILITEITEN)
		
<!ELEMENT GARAGE_NAAM				(#PCDATA)>
<!ELEMENT GARAGE_STRAAT				(#PCDATA)>
<!ELEMENT GARAGE_STRAATNR			(#PCDATA)>
<!ELEMENT GARAGE_POSTCODE			(#PCDATA)>
<!ELEMENT GARAGE_PROVINCIE			(#PCDATA)>
<!ELEMENT GARAGE_EMAIL				(#PCDATA)>
<!ELEMENT GARAGE_WEBSITE			(#PCDATA)>
<!ELEMENT GARAGE_OMSCHRIJVING 		(#PCDATA)>